body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.orange-button {
  background-color: #ef801b;
  border-color: #ef801b;
}

.orange-button:hover {
  background-color: #ef801b;
  border-color: #ef801b;
}
/* Cart.css */
.cart-container {
  padding: 20px;
}

.cart-item-image {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}

.quantity-control {
  max-width: 150px;
  margin: 0 auto;
}

.cart-summary {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.table th {
  white-space: nowrap;
}